In [16]:
import pandas as pd
import csv

In [17]:
df = pd.read_csv('data.csv')

In [18]:
df.head()

,date,team,name,status
0,1990-01-02,Cavaliers,• Wayne Rollins / Tree Rollins,placed on IL with sprained left knee
1,1990-01-02,Cavaliers,• John Morton,activated from IL
2,1990-01-02,Magic,• Jerry Reynolds (a),placed on IL
3,1990-01-02,Magic,• Morlon Wiley,activated from IL
4,1990-01-04,Hawks,• Cliff Levingston,placed on IL

In [ ]:
df['name'] = df.apply(lambda x: df['name'][2:], axis=1)

In [26]:
data.head()

,date,team,name,status
0,1990-01-02,Cavaliers,• Wayne Rollins / Tree Rollins,placed on IL with sprained left knee
1,1990-01-02,Cavaliers,• John Morton,activated from IL
2,1990-01-02,Magic,• Jerry Reynolds (a),placed on IL
3,1990-01-02,Magic,• Morlon Wiley,activated from IL
4,1990-01-04,Hawks,• Cliff Levingston,placed on IL